.wrapper{
  height:100%;
  width:100%;
  padding-bottom:3rem;
  position:relative;
  z-index:2;
  
  .list{
     display:flex;
     flex-wrap:wrap;
     justify-content:center;
    
    &:after{
      content:"";
      display:table;
      clear:both;
    }
  }

  .list_item{
    width:320px;
    margin:0 auto 8px;
    padding:0 4px;
    box-sizing:border-box;
    position:relative;
    transition:0.5s;
    top:0;
    cursor:pointer;
    list-style-type: none;

    &.init{
      top:24px;
      opacity:0;
    }

    &.hover{
        .container:after{
          background:rgba(0,0,0,0.5);
        }
    }

    .container{
      background:#fff;
      height:100%;
      border-radius:4px;
      overflow:hidden;
      padding-bottom:0.5rem;
      box-shadow:0 0 1px 0 rgba(0,0,0,0.1);
      position:relative;

      &:after{
        content:"";
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:3;
        transition:0.3s;
      }

      h3{
        font-size:1rem;
        color:#333;
        margin:1rem;
      }

      .description{
        font-size:0.75rem;
        line-height:1.25;
        color:#999;
        margin:1rem;
      }

      img{
        width:50%;
        height:auto;
        transition: 3s;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }


  }
  .gift_container{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:6;
    background-size:cover;
  }
  .gift{
    width:100%;

    .gift_header{
      width:100%;
      height:48px;
      background:rgba(0,0,0,0.5);
    }

    .gift_content{
      text-align: center;
      margin-top: 5em;
    }

    .gift_content.hidden{
      display: none;
    }

    .btn_close{
      cursor:pointer;
      width:48px;
      height:48px;
      position:fixed;
      top:0;
      right:0;

      &:before{
        content:"";
        display:block;
        height:1px;
        width:36px;
        background:#e0e0e0;
        transform-origin:top left;
        transform:rotate(45deg);
        position:absolute;
        top:12px;
      }
      &:after{
        content:"";
        display:block;
        width:1px;
        height:36px;
        background:#e0e0e0;
        transform-origin:top left;
        transform:rotate(45deg);
        position:absolute;
        left:25px;
        top:12px;
      }
    }
  }
  .motion{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
   // opacity:0;
    background:#fff;
    transition:0.5s;
    visibility:hidden;
  }

  @media (min-width:540px){
    .list{
      max-width:540px;
      padding:0 16px;
    }
    .list_item{
      width:50%;
      float:left;
      margin:0 0 8px;
    }
  }
  @media (min-width:768px){
    .list{
      max-width:768px;
    }
    .list_item{
      width:33.3333333%;
    }
  }
  @media (min-width:1024px){
    .list{
      max-width:1024px;

    }
    .list_item{
      width:25%;
    }
  }
}

.loading_anime{
  display:none;
  position:fixed;
  margin: auto;
  //position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  z-index:99;
}