html,body{
  background:#f0f0f0;
}

.App {
  font-family: 'Lato', sans-serif;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  display: none;
  opacity: 0;
  transition: opacity 1000ms;
}